.git/**
.github/**
.vscode/**
node_modules/**
src/**
**/*.map
**/*.ts
**/*.tsx
**/*.test.*
**/*.spec.*
.editorconfig
.eslintignore
.eslintrc
.prettierrc
.prettierignore
tsconfig.json
package-lock.json
README.md
